{
  "parser": "@typescript-eslint/parser",
  "extends": ["@atixlabs/eslint-config/configurations/node", "plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["rosetta-types.d.ts"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }]
  }
}
