name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Check disk space
        run: df -h
      - name: Remove unused docker
        run: docker system prune -f
      - name: Check disk space again
        run: df -h
      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          path: cardano-rosetta
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Lint and test
        working-directory: ./cardano-rosetta/cardano-rosetta-server
        run: |
          yarn install --offline --frozen-lockfile --loglevel=error
          yarn lint
          yarn test
        env:
          PORT: 8080
          LOGGER_LEVEL: debug
          LOGGER_ENABLED: true
          BIND_ADDRESS: 127.0.0.1
          DB_CONNECTION_STRING: postgresql://postgres:notForProduction!@127.0.0.1:5432/mainnet
          TOPOLOGY_FILE_PATH: test/e2e/utils/topology-test.json
          # PATHs should be strings and must exist
          CARDANO_CLI_PATH: /tmp
          CARDANO_NODE_PATH: /tmp
          CARDANO_NODE_SOCKET_PATH: /tmp
          GENESIS_SHELLEY_PATH: test/e2e/utils/mainnet-genesis.json
          PAGE_SIZE: 5
          DEFAULT_RELATIVE_TTL: 1000
      - name: Build Cardano Rosetta
        uses: ./cardano-rosetta/.github/actions/build_cardano_rosetta
        with:
          build-context: ${{ github.workspace }}/cardano-rosetta
          tag: ${{ github.sha }}
      - name: Smoke test Cardano Rosetta image
        uses: ./cardano-rosetta/.github/actions/smoke_test_cardano_rosetta
        with:
          tag: ${{ github.sha }}
          test-exe: ./cardano-rosetta/test/smoke_test.sh
      - name: Postman Tests
        uses: ./cardano-rosetta/.github/actions/postman_tests_cardano_rosetta
        with:
          tag: ${{ github.sha }}
